---
import BuyMeACoffee_img from '../content/post/_images/buy-me-coffee-buttons(no-background)_1.png';
import {Image} from "astro:assets"
---

<div class="border border-yellow-100 dark:border-yellow-300 bg-yellow-100 dark:bg-yellow-400 text-gray-800 dark:text-gray-100 p-4 rounded-md text-sm">
  <strong>Support Our Work</strong><br />
  <p class="m-0 italic">
    If you've found our content helpful, consider buying us a coffee! Your support helps us create more valuable resources and keep them freely accessible. Every contribution, no matter how small, makes a big difference. Click the button below to show your appreciation and fuel our next article!
  </p>
  <a href="https://buymeacoffee.com/" target="_blank" rel="noopener noreferrer" class="inline-block mt-0 mb-0">
    <Image src={BuyMeACoffee_img} alt="Buy Me A Coffee" style="height: 60px; width: 217px; margin: 5px 0;"/>
  </a>
</div>